In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2022-01-24 15:39:45,14.8961,-24.4956,78.71,52,67,9.42
1,1,Albany,US,2022-01-24 15:35:59,42.6001,-73.9662,22.62,63,13,3.18
2,2,Shache,CN,2022-01-24 15:39:45,38.4167,77.2406,32.72,49,0,5.03
3,3,Busselton,AU,2022-01-24 15:35:55,-33.6500,115.3333,62.10,77,2,10.80
4,4,Comodoro Rivadavia,AR,2022-01-24 15:39:46,-45.8667,-67.5000,75.06,23,0,18.41

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2022-01-24 15:39:45,14.8961,-24.4956,78.71,52,67,9.42
4,4,Comodoro Rivadavia,AR,2022-01-24 15:39:46,-45.8667,-67.5000,75.06,23,0,18.41
7,7,Castro,BR,2022-01-24 15:34:50,-24.7911,-50.0119,87.04,42,0,4.21
9,9,Contamana,PE,2022-01-24 15:39:47,-7.3333,-75.0167,86.56,67,79,3.04
11,11,Port Alfred,ZA,2022-01-24 15:39:48,-33.5906,26.8910,75.67,74,5,8.97
14,14,Namatanai,PG,2022-01-24 15:39:49,-3.6667,152.4333,79.50,81,46,1.99
18,18,Saint-Philippe,RE,2022-01-24 15:39:51,-21.3585,55.7679,78.39,75,97,16.42
27,27,Sola,VU,2022-01-24 15:39:54,-13.8833,167.5500,75.87,94,20,0.00
28,28,Quatre Cocos,MU,2022-01-24 15:39:54,-20.2078,57.7625,78.91,73,80,21.47
31,31,Lorengau,PG,2022-01-24 15:39:55,-2.0226,147.2712,80.94,77,30,4.12

In [12]:
preferred_cities_df.count()

City_ID       180
City          180
Country       178
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
0           Sao Filipe      CV     78.71  14.8961  -24.4956
4   Comodoro Rivadavia      AR     75.06 -45.8667  -67.5000
7               Castro      BR     87.04 -24.7911  -50.0119
9            Contamana      PE     86.56  -7.3333  -75.0167
11         Port Alfred      ZA     75.67 -33.5906   26.8910
14           Namatanai      PG     79.50  -3.6667  152.4333
18      Saint-Philippe      RE     78.39 -21.3585   55.7679
27                Sola      VU     75.87 -13.8833  167.5500
28        Quatre Cocos      MU     78.91 -20.2078   57.7625
31            Lorengau      PG     80.94  -2.0226  147.2712

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sao Filipe,CV,78.71,14.8961,-24.4956,Hotel Xaguate
4,Comodoro Rivadavia,AR,75.06,-45.8667,-67.5000,Austral Hotel
7,Castro,BR,87.04,-24.7911,-50.0119,CHACARA BAILLY
9,Contamana,PE,86.56,-7.3333,-75.0167,Shiringal Touristic Park
11,Port Alfred,ZA,75.67,-33.5906,26.8910,The Halyards Hotel
14,Namatanai,PG,79.50,-3.6667,152.4333,Seagulls Inn Namatani
18,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
27,Sola,VU,75.87,-13.8833,167.5500,Leumerus Bungalows
28,Quatre Cocos,MU,78.91,-20.2078,57.7625,Sunrise Attitude Hotel
31,Lorengau,PG,80.94,-2.0226,147.2712,Lorengau Harbourside Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))